.border {
    border-color: #e5e5e5 #eee #eee;
    border-style: solid;
    border-width: 3px 0;
}

.rounded {
    border-radius: 20px;
}

.imgclass {
    width: 80%;
    margin-left: 10%;
    border-color: #222;
    border: 3px solid;
}

.page-header {
    background-color: #fff;
}
