.imageholder {
    margin: auto;
    width: 90%;
    display: block;
    border: 2px solid black;
    border-radius: 20px;
}

body {
   margin: auto;
}
h1 {
    font-family: 'Franklin Gothic Medium';
    font-size: 30px;
    color: #222;
    text-align: center;
}
blockquote {
    border-left: 2px solid gray;
     padding-left: 5px;
     font-size: 9px;
     color: #000;
     max-width: 150px;
}
p {
     font-size: 12px;
     color: red;
     padding: 3px;
}
div {
    background-color: lightgrey;
    width: 30%;
    border: 2px solid #222;
    border-radius: 15px;
    float:left;
    margin: 5px;
    height: 500px;
    padding: 5px;
}

@media screen and (min-width:0) and (max-width:320px) {
h1 {
    font-size: 15px;
}
.imageholder{
    max-height: 100px;
}

div {
    width: 80%;
    max-height: 200px;
 }
 blockquote{
     font-size: 6px;
 }
}


@media screen and (min-width:321px) and (max-width:600px) {
h1 {
    font-size: 20px;
}

blockquote {
     
     padding-left: 2px;
}

div {
    width: 40%;
    max-height: 400px;
 }
}

@media screen and (min-width:601px) and (max-width:900px) {

div {
    width: 25%;
    max-height: 450px;
 }
}